Package: com.eldwin.PageHolder.preferences
Name: PageHolderPreferences
Depends: PreferenceLoader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Allows blank pages to be inserted between any pages on SpringBoard.
Maintainer: eldwin 
Author: eldwin
Section: Utilities
